from enum import Enum

class {{ enum.class_info.name }}(str, Enum):
    {% for key, value in enum.values|dictsort(true) %}
    {{ key }} = "{{ value }}"
    {% endfor %}
    {% if 'NONE' not in enum.values %}
    NONE = "NONE"
    {% endif %}

    def __str__(self) -> str:
        return str(self.value)
